/* ---------- dark.css ---------- */
:root {
  --accent-color: #ff0070;
  --text-color: #f1b2ce;
  --bg-color: #000028;
  --bg-image: url("../images/cover-image-dark.png");
}

:root.theme-dark {
  --accent-color: #ff0070;
  --text-color: #f1b2ce;
  --bg-color: #000028;
  --bg-image: url("../images/cover-image-dark.png");
  --rec-image: url("../images/rec-dark.svg");
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent-color: #ff0070;
    --text-color: #f1b2ce;
    --bg-color: #000028;
    --bg-image: url("../images/cover-image-dark.png");
    --rec-image: url("../images/rec-dark.svg");
  }
}

.theme-dark .header__title,
.theme-dark .footer__title {
  color: #db00ff;
  text-shadow: 4px 4px 0 #ff0070;
}
