/* Стили для темной темы */

.theme-dark {
  /* Цвета темной темы соответствуют макету */
  --bg-color: #000028;
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --heading-bg: #FF0070;
  --heading-text: #000028;
  --button-color: #FF0070;
  --button-hover-border: #FF0070;
  --link-shadow: #FF0070;
  --corner-color: #FF0070;
  
  --bg-image: url(../images/cover-image-dark.png);
}

.theme-dark .rec {
  display: block;
}

.theme-auto .rec {
  display: none;
}

@media (prefers-color-scheme: dark) {
  .theme-auto .rec {
    display: block;
  }
}
