/* ---------- dark.css ---------- */
:root {
  --accent-color: #ff0070;
  --text-color: #f1b2ce;
  --bg-color: #000028;
  --bg-image: url("../images/cover-image-dark.png");
}


:root.theme-dark {
  --accent-color: #ff0070;
  --text-color: #f1b2ce;
  --bg-color: #000028;
  --bg-image: url("../images/cover-image-dark.png");
  --rec-image: url("../images/rec-dark.svg");
}


.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}
