/* ---------- light.css ---------- */
:root.theme-light {
  --accent-color: #ff8dcb;
  --text-color: #353430;
  --bg-color: #fff1f7;
  --bg-image: url("../images/cover-image-light.png");
  --rec-image: url("../images/rec-light.svg");
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --text-color: #353430;
    --bg-color: #fff1f7;
    --bg-image: url("../images/cover-image-light.png");
    --rec-image: url("../images/rec-light.svg");
  }
}

.theme-light .header__title,
.theme-light .footer__title {
  color: #ffc2e6;
  text-shadow: 4px 4px 0 #ff8dcb;
}
