/* ---------- light.css ---------- */
:root {
  --accent-color: #ff8dcb;
  --text-color: #353430;
  --bg-color: #fff1f7;
  --bg-image: url("../images/cover-image-light.png");

  --link-hover-color: #ff8dcb80;
  --text-shadow: 4px 4px 0 var(--accent-color);
}

/* Включается, если <html class="theme-light"> */
:root.theme-light {
  --accent-color: #ff8dcb;
  --text-color: #353430;
  --bg-color: #fff1f7;
  --bg-image: url("../images/cover-image-light.png");
  --rec-image: url("../images/rec-light.svg");
}

/* Автоматическое переключение при системной светлой теме */
@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --text-color: #353430;
    --bg-color: #fff1f7;
    --bg-image: url("../images/cover-image-light.png");
    --rec-image: url("../images/rec-light.svg");
  }
}


.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}
